cffi==1.13.2
Click==7.0
cryptography==2.8
Flask==1.1.1
Flask-Cors==3.0.8
Flask-SSLify==0.1.5
flask-talisman==0.7.0
gunicorn==20.0.4
itsdangerous==1.1.0
Jinja2==2.10.3
MarkupSafe==1.1.1
mip==1.6.2
numpy==1.17.4
pycparser==2.19
pyOpenSSL==19.1.0
six==1.13.0
virtualenv==16.7.8
Werkzeug==0.16.0
Foreman==0.87.1