/************************* VARIABLES ****************************/
$roboto: 'Roboto', sans-serif;
$roboto-mono: 'Roboto Mono', monospace;
$background-color--app: #1f2832;
$background-color--main: #13191f;
$lightest-color: hsl(214, 44%, 85%);
$lightest-color2: hsl(214, 40%, 90%);
$gray-color: hsl(0, 0%, 77%);
$accent-color: #2bafec;
$main-color: #00558a;
$font-color: #dddddd;
